.btn-shadow {

    &,
    &:link,
    &:visited {
        color: $black;
        display: inline-block;
        font-size: 1.6rem;
        width: 18rem;
        height: 7rem;
        border: 2px solid $black;
        border-radius: .5rem;
        text-align: center;
        line-height: 7rem;
        vertical-align: middle;
        box-shadow: .5rem .5rem $primary-light;

        transition-duration: .1s;

        @include media-breakpoint-down(md) {
            width: 13rem;
            height: 5rem;
            line-height: 5rem;
        }
    }

    &:hover .arrow {
        transform: translateX(4px);
    }

    &:active,
    &:focus {
        transform: translate(2px, 2px);
        box-shadow: none;
    }


    &--green {
        background: $secondary;
    }

    &--blue {
        background: $blue;
    }

}

.arrow {
    display: inline-block;
    transition-duration: .1s;
    transition-property: transform;
    transition-timing-function: ease-out;
}





.btn--rounded {
    display: inline-block;
    font-size: 2.4rem;
    color: $black;
    background-image: linear-gradient($primary-light, $primary);
    padding: 1.5rem 4rem;
    border-radius: 100rem;
    transition: all .3s;

    &:hover {
        background-image: linear-gradient($primary, $primary-light);
    }

    @include media-breakpoint-down(xs) {
        padding: 1.2rem 3.3rem;
    }
}