.footer {
    height: 7rem;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    &__copyright {
        color: #fff;
        font-size: 1.6rem;
        line-height: 1;
        margin: 0;
        letter-spacing: .1rem;
    }
}



